<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <fieldset>
            <h2>입력 <span id = 'lang_detect'></span></h2>
            <textarea id = 'input' row = '20' cols = '50' name = 'inputLang'></textarea>
            <br>
            <button onclick = 'javascript:onLang_TypeDetect_Translate();'>언어 감지 및 번역</button>
        </fieldset>
        <fieldset>
            <h2>번역 결과</h2>
            <textarea id = 'output' row = '20' cols = '50' name = 'inputLang'></textarea>
        </fieldset>        
        <script>
            function onLang_TypeDetect_Translate() {
                // 클라이언트 : 입력값 획득 → (보안이 중요한 것은 아니지만 데이터 양이 많으므로) post
                // 서버(run.py) : 데이터를 획득 → 벡터화 → 모델을 로드(서버 가동 시 1회만) → 예측 → 답안 획득 → 응답 구성
                // 클라이언트 : 응답을 받아서 → 화면 처리(ajax)

                // 1. 언어 종류를 감지 및 번역하고자 하는 입력값 획득
                let inputData = $('#input').val()
                if (inputData.length < 30) {
                    alert('최소 30자 이상 입력 가능')
                    return
                }
                console.log(inputData)
                // 2. post로 데이터 전송
                $.post({
                    url : '/devgo',
                    data : `inputLang=${inputData}`,
                    dataType : 'json',
                    success : ( data )=>{
                        console.log('Success', data)
                        // 언어 감지 결과를 화면에 표시
                        $('#lang_detect').html(data.ko)
                        // 번역 결과를 화면에 세팅
                        $('#output').html(data.trans)
                    },
                    error : ( err ) => {
                        console.log('Error', err)
                    }
                })
            }
        </script>
    </body>
</html>